img {
  width: 700px;
  height: 500px;
}

h1 {
  color: #730d73;
  text-align: center;
}

.wrapper {
  margin: 0 100px;
}

.gallery {
  display: flex;
  justify-content: center;
}

.buttons {
  text-align: center;
}

.btn-back {
  display: inline-block;
  padding: 10px 70px;
  margin: 20px;
  background-color: #2c2c2c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  color: #730d73;
  border-color: currentColor;
  background-color: white;
}

.btn-back:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.btn-forward {
  display: inline-block;
  padding: 10px 70px;
  margin: 20px;
  background-color: #2c2c2c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-forward:hover {
  color: #730d73;
  border-color: currentColor;
  background-color: white;
}

.btn-forward:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
    0 0 0 1.5px rgba(255, 105, 180, 0.5);
}
